@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #edf7F6;
}


.header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: #9df9ef;
    padding: 1%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.spacer {
    flex-grow: 1;
}

.header #tentacles {
    width: 100px;
    height: auto;
}


.header a {
    margin-right: 20px;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 24px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 120%;
}

.header a {
    color: black; 
    text-decoration: none;
    padding: 8px 15px;
    font-size: 17px;
}

.header a:hover {
    color: darkblue;
    text-decoration: underline;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #9df9ef;
}

.stats-card {
    background-color: #ceebe8;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #9df9ef;
}

#button-container {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}